body {
    background-color: whitesmoke;
}
div.border{
    border-width: 15px;
    border-style: solid;
    border-color: red;
    border-radius: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 5px;
    width: 200px;
    height: 200px;
}

div.inline_block {
    display: inline-block;
    border: 1px solid red;
    width: 200px;
    height: 200px;
}

div.half-width {
    width: 250px;
    height: 250px;
    border: 1px solid red;
    display: inline-block;
}

#box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-image: url("forest.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 0 50% 0 50%;
    box-shadow: 6px 6px 15px inset #444444;
                /* x   y   blur  inset   color */
}
/* Padding and Margin*/
#box2 {
    width: 200px;
    height: 200px;
    border: 1px dashed blue;
    /* padding: 10px; */
    padding: 10px 15px 20px 25px;
    margin: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}

/* Set max width on element  */
#inline {
    display: inline-block;
    border: 1px solid red;
    max-width: 500px;
}

body {
    background-color: #f5f5f5;
    background-image: url("forest.jpg");
}
#boxOpacity {
    display: block;
    width: 200px;
    height: 200px; 
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: red;
    text-align: center;
    padding: 25px;
    /* opacity: 0.5; */
}
